/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  border-right: 1px solid var(--gray);
  height: 100%;
  transition: 0.4s ease;
  z-index: 10;
}

.brand-logo > h1 {
  font-weight: 700;
}

.sidebar-closed .text {
  display: none;
}

.sidebar-navlinks {
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

.sidebar-options {
  /* height: 100%; */
}

.navlinks,
.options {
  width: 100%;
}

.navlink,
.optionslink {
  text-decoration: none;
  color: var(--black);
  border-radius: 8px;
  width: 100%;
}

.navlink:hover,
.optionslink:hover {
  color: var(--blue);
}

.navlink svg path,
.optionslink svg path {
  fill: var(--black);
}

.navlink:hover svg path,
.optionslink:hover svg path {
  fill: var(--blue);
}

.navlinks .active {
  background-color: var(--blue);
  color: var(--white) !important;
}

.navlinks .active svg path {
  fill: var(--white) !important;
}

.navlink,
.navlink svg path,
.optionslink,
.optionslink svg path {
  transition: 0.5s ease;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .sidebar {
    padding: 1em 1.5em 2em;
  }

  .sidebar > div {
    height: 100%;
  }

  .sidebar-brand {
    height: 5.8em;
  }

  .brand-logo > img {
    width: 2.8em;
    height: 2.8em;
  }

  .brand-logo > h1 {
    font-size: 1.5em;
    margin-left: 0.8em;
  }

  .sidebar-navlinks {
    padding: 2em 0 8em;
  }

  .sidebar-options {
    padding: 1em 0;
  }

  .navlink,
  .optionslink {
    padding: 1em 1.6em;
    margin-bottom: 1em;
  }

  .navlink:last-of-type,
  .optionslink:last-of-type {
    margin-bottom: 0 !important;
  }

  .navlink svg,
  .optionslink svg {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.9em;
  }

  .sidebar-closed .sidebar-navlinks {
    padding: 2em 0.7em 8em;
  }

  .sidebar-closed .sidebar-options {
    padding: 2em 0.7em;
  }

  .sidebar-closed .navlink,
  .sidebar-closed .optionslink {
    padding: 1em 1.1em;
  }

  .sidebar-closed .navlink svg,
  .sidebar-closed .optionslink svg {
    margin-right: 0em;
  }
}
